// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *
  
//
// MIXINS/RESPONSIVE
// --------------------------------------------------

// VARIABLES
// NOTE: we use 'em' as unit as you get cross-browser problems, when you
// change the browser base font-size, see http://zellwk.com/blog/media-query-units/
// [1] in fact 66.625em = 1066px, but 1066px, but since we have a font-size increase at screen-xl-min,
//     we end up at ~1200px (see _page.scss)
//
$wrapper-max:         66.625em !default; // ~1200px [1]
$offcanvas-nav:       48em !default; // 768px
$offcanvas-nav-max:   (#{$offcanvas-nav} - 0.0625em) !default; // 0.0625em = 1px

$screen-xs-min:   0 !default;
$screen-sm-min:   34.375em !default; // 550px
$screen-md-min:   48em !default; // 768px
$screen-lg-min:   58.75em !default; // 940px
$screen-xl-min:   68.75em !default; // 1100px

$screen-xs-max:   (#{$screen-sm-min} - 0.0625em) !default;
$screen-sm-max:   (#{$screen-md-min} - 0.0625em) !default;
$screen-md-max:   (#{$screen-lg-min} - 0.0625em) !default;
$screen-lg-max:   (#{$screen-xl-min} - 0.0625em) !default;

$breakpoints: (
    "screen-xs"             "screen and (min-width: #{$screen-xs-min})",
    "screen-sm"             "screen and (min-width: #{$screen-sm-min})",
    "screen-md"             "screen and (min-width: #{$screen-md-min})",
    "screen-lg"             "screen and (min-width: #{$screen-lg-min})",
    "screen-xl"             "screen and (min-width: #{$screen-xl-min})",
    "screen-offcanvas"      "screen and (min-width: #{$offcanvas-nav})",
    
    "screen-xs-max"         "screen and (max-width: #{$screen-xs-max})",
    "screen-sm-max"         "screen and (max-width: #{$screen-sm-max})",
    "screen-md-max"         "screen and (max-width: #{$screen-md-max})",
    "screen-lg-max"         "screen and (max-width: #{$screen-lg-max})",
    "screen-offcanvas-max"  "screen and (max-width: #{$offcanvas-nav})",
) !default;

// USED FROM _variables.scss

// --------------------------------------------------

@mixin wrapper-max($width: $wrapper-max) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

@mixin media-query($mq) {

    $breakpoint-found: false;

    // Loop through the list of breakpoints we’ve provided in our settings file.
    @each $breakpoint in $breakpoints {

        // Grab the alias and the condition from their respective locations in
        // the list.
        $alias:     nth($breakpoint, 1);
        $condition: nth($breakpoint, 2);

        // If the media query we’ve specified has an alias and a condition...
        @if $mq == $alias and $condition {

            // ...tell the mixin that we’ve found it...
            $breakpoint-found: true;

            // ...and spit it out here.
            @media #{$condition} {
                @content;
            }

        }

    }

    // If the user specifies a non-exitent alias, send them a warning.
    @if $breakpoint-found == false{
        @warn "Arrr! Breakpoint ‘#{$mq}’ existiert nicht."
    }

}
