// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// TRUMPS/HELPER
// --------------------------------------------------

// VARIABLES
$row-bg:  $color-gray;
$col-bg:  $color-gray-light;
$grid__gutters: ($grid__columns - 1);

// USED FROM _variables.scss
// * $base-spacing-unit--sm

// USED FROM _grid.scss
// * $grid__columns
// * $grid__gutter
// * $grid__gutter--half

// --------------------------------------------------

// helper class to show the grid gutter, when designing in Contao
// [1] we use the repeating gradient rule, to switch between blocks that are as wide as a column and blocks wide as a gutter
.row--show {
	position: relative;
	background: $row-bg;
	z-index: 0;
  padding-top: $base-spacing-unit;

  &:before {
  	content: "";
  	display: block;
  	position: absolute;
  	z-index: -1;
  	left: $grid__gutter--half;
  	right: $grid__gutter--half;
  	top: 0;
  	height: 100%;
  	background: repeating-linear-gradient(to right,
  		$col-bg 0%, $col-bg calc((100% - (#{$grid__gutter} * #{$grid__gutters})) / #{$grid__columns}), 
  		$row-bg calc((100% - (1.875rem * 11)) / 12), $row-bg calc(((100% - (#{$grid__gutter} * #{$grid__gutters})) / #{$grid__columns}) + #{$grid__gutter})
  	); // [1]
  }
}

.col--show {
  background: $color-page-background;
  border: 1px solid darken($color-gray-light, 15%);
  border-radius: $base-border-radius;
  padding: $base-spacing-unit--sm $base-spacing-unit;
}
