/** 
  * Erdmann & Freunde - Nutshell
  * BASE Contao Framework
  * erdmann-freunde.de/nutshell/
  *
  * Lizenziert unter MIT OPEN SOURCE 
  * 
  */ 

/** Contents
  *
  * SETTINGS
  * ...variables
  *
  *
  * MIXINS
  * ...general
  * ...responsive
  * 
  *
  * GENERIC
  * ...normalize
  * ...contao-reset
  * ...box-sizing
  *
  *
  * BASE
  * ...shared
  * ...page
  * ...type
  * ...grid
  * ...layout
  *
  *
  * COMPONENTS
  * ...media
  * ...tables
  * ...accordion
  * ...links
  * ...events
  * ...faq
  * ...forms
  * ...navs
  * ...news
  * ...newsletter
  * ...slider
  * ...downloads
  *
  */
  
// SETTINGS
@import "variables";


// Mixins
@import "mixins/general";
@import "mixins/responsive";


// GENERIC
@import "generic/normalize";
@import "generic/contao-reset";
@import "generic/box-sizing";


// BASE
@import "base/shared";
@import "base/page";
@import "base/type";
@import "base/grid";
@import "base/layout";


// COMPONENTS
@import "components/media";
@import "components/links";
@import "components/navs";
@import "components/slider";
@import "components/news";
@import "components/events";
@import "components/forms";
@import "components/accordion";
@import "components/downloads";
@import "components/tables";
@import "components/newsletter";
@import "components/faq";
@import "components/comments";
@import "components/search";
