// *
// * Erdmann & Freunde - Nutshell
// * BASE Contao Framework
// * erdmann-freunde.de/nutshell/
// *
// * Lizenziert unter MIT OPEN SOURCE 
// *

//
// BASE/GRID
// --------------------------------------------------

// VARIABLES

// USED FROM _responsive.scss
// $screen-sizes

// --------------------------------------------------

// grid options
$grid__columns:       12 !default;
$grid__gutter-width:  1.875rem !default; // 30px

// column default floating
%column-floating {
  float: left;
  padding-left:  ($grid__gutter-width / 2);
  padding-right: ($grid__gutter-width / 2);
}

@for $i from 1 through $grid__columns {
  .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}, .col-xl-#{$i} {
    @extend %column-floating;
    
    width: 100%;
  }
}



@for $size from 1 through length($screen-sizes) {
  $current:   nth($screen-sizes, $size);
  
  // column creation
  /* col-#{$current} */
  
  @include media-query(screen-#{$current}) {

  	@for $i from 1 through $grid__columns {
  		.col-#{$current}-#{$i} {
  			width: percentage($i / $grid__columns);
  		}
  	}
  }
  
  // offset creation
  /* offset-#{$current} */
  @include media-query(screen-#{$current}) {
  
  	@for $i from 1 through $grid__columns {
  		.offset-#{$current}-#{$i} {
  			margin-left: percentage($i / $grid__columns);
  		}
  	}
  }
  
  //pull-left & -right creation
  /* pull-left-#{$current} & pull-right-#{$current} */
  @include media-query(screen-#{$current}) {
    .pull-right-#{$current} {
      float: right;
    }
    
    .pull-left-#{$current} {
      float: left;
    }
  }
  
  //clear creation
  /* clear-#{$current} */
  
  @include media-query(screen-#{$current}) {
    .clear-#{$current} {
      clear: both;
    }
  }
  
  @if($size < length($screen-sizes)) {
    $size: $size + 1 ;
    $next:      nth($screen-sizes, $size);
    
    /* clear-#{$next} */
    @include media-query(screen-#{$next}) {
      .clear-#{$current} {
        clear: none;
      }
    }
  }
}

// general row-class
.row {
  @include make-row;
}

// general pull options
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
